{% extends 'base.html' %}
{% block body %}
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title">{{tas.name}}</h4>
                    <p><b>{{tas.priority}}</b></p>
                    <p><b>{{tas.date}}</b></p>
                    <a class="btn btn-danger" href="{% url 'delete' tas.id %}">Done</a>
                    <a class="btn btn-warning" href="{% url 'update' tas.id %}">Update</a>
                </div>
            </div>
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--{% for i in task %}-->
<!--{{i.name}}-->
<!--{{i.priority}}-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->


